/*********************************************************/
/* ----------------------------------------------------- */
/* ----------- Samuil Login / Register Task ------------ */
/* ----------- Media queries for responsive ------------ */
/* ----------------------------------------------------- */
/*********************************************************/
@charset "UTF-8";

/* ----------------------------------------------------- */
/* --------- Break Points at: 1025,768,320px. ---------- */
/* ----------------------------------------------------- */

@media ( min-width: 1025px ) {
    .container {
        margin: 0 auto;
        width: 99%;
        /*border: 1px solid yellow;*/
    }

    #palceholder-login {
        margin: 10px auto;
        width: 69%;
    }

    #login-form, .login-form, .register-form {
        margin: 10px auto;
        padding: 0;
        width: 62%;
    }

    .form-inp {
        width: 60%;
        margin: 10px auto;
    }

    .btn-submit {
        width: 62%;
    }
}

/* ----------------------------------------------------- */
/* ----- Breakpoint: max-width: 900px ------------------ */
/* ----------------------------------------------------- */
@media ( min-width: 900px ) and ( max-width: 1020px ){
    .container {
        margin: 0 auto;
        width: 89%;
        /*border: 1px solid red;*/
    }

    #palceholder-login {
        margin: 10px auto;
        width: 89%;
    }

    #login-form, .login-form, .register-form {
        margin: 10px auto;
        padding: 0;
        width: 92%;
    }

    .form-inp {
        width: 90%;
        margin: 10px auto;
    }

    .btn-submit {
        width: 92%;
    }
}

/* ----------------------------------------------------- */
/* ----- Breakpoint: max-width: 668px ------------------ */
/* ----------------------------------------------------- */
@media ( min-width: 768px ) and ( max-width: 900px ) {
    .container {
        margin: 0 auto;
        width: 96%;
        /*border: 1px solid purple;*/
    }

    #palceholder-login {
        margin: 10px auto;
        width: 96%;
    }

    #login-form, .login-form, .register-form {
        margin: 10px auto;
        padding: 0;
        width: 92%;
    }

    .form-inp {
        width: 90%;
        margin: 10px auto;
    }

    .btn-submit {
        width: 92%;
    }
}

/* ----------------------------------------------------- */
/* ----- Breakpoint: max-width: 680px ------------------ */
/* ----------------------------------------------------- */
@media ( min-width: 660px ) and ( max-width: 760px ) {
    .container {
        margin: 0 auto;
        width: 98%;
        /*border: 1px solid blue;*/
    }

    #palceholder-login {
        margin: 10px auto;
        width: 99%;
    }

    #login-form, .login-form, .register-form {
        margin: 10px auto;
        padding: 0;
        width: 96%;
    }

    .form-inp {
        width: 92%;
        margin: 10px auto;
    }

    .btn-submit {
        width: 95%;
    }
}


/* ----------------------------------------------------- */
/* ----- Breakpoint: max-width: 360px ------------------ */
/* ----------------------------------------------------- */
@media ( min-width: 360px )  {

    .menu {
        width: 96%;
        padding: 0;
        margin: 0 auto;
        display: block;
        zoom: 1;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0;
        background-color: #ADDFFF;
        border: 1px solid #ADDFFF;
        /*zoom: 1.8;*/
    }

    .row {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    #login-form, .login-form, .register-form {
        /*display: block;*/
        /*margin: 0 auto;*/
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    .form-inp {
        width: 95%;
        /*display: block;*/
        /*margin: 0 auto;*/
        margin: 10px auto;
    }

    .btn-submit {
        width: 97%;
        /*display: block;*/
        /*margin: 0 auto;*/
    }

}


/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* -------------- Thats end of Media.css --------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */