/*********************************************************/
/* ----------------------------------------------------- */
/* ----------- Samuil Login / Register Task ------------ */
/* ----------------------------------------------------- */
/*********************************************************/
/******************/ @charset "UTF-8"; /******************/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

body {
    margin: 0 auto;
    padding: 0;
    /*background-image: url('../images/galaxy.jpg');*/
}

fieldset, img {
    border: 0 !important;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.clearfix:before, .clearfix:after {
    clear: both;
    display: block;
    content: " ";
}

#placeholder-header {
    margin: 0 auto;
    padding: 0;
}

.header-logo, .nav {
    float: left;
}

.header-logo .site-logo {
    margin: 4px 4px;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-color: #73AD21;
    background-image: url('../images/js-logo.svg');
    border-radius: 50%;
    display: none;
}

.header-wrap {
    margin: 0 auto;
    padding: 0;
    background-color: #73AD21;
}

.header-wrap .menu {
    margin: 0 auto;
    padding: 0;
    /*float: left;*/
    /*margin-left: 60px;*/
}

.header-wrap .menu li {
    display: inline-block;
    float: left;
    margin: 0;
}

.header-wrap .menu .menu-links {
    display: inline-block;
    padding: 8px 18px;
    /*border-radius: 10px;*/
    /*margin-left: 8px;*/
    color: #fff;
    text-decoration: none;
    line-height: 24px;
}

.header-wrap .menu li a:hover, .active {
    background-color: #aed227;
}

/* ----------------------------------------------------- */
/* ------------- Forms login and register -------------- */
/* ----------------------------------------------------- */

.form-field {
    margin: 10px auto;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    border: 1px dashed black;
    background-color: #dde0e9;
    max-width: 480px;
    background-color: rgba(255, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.55);
}

.form-inputs {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #444;
    text-align: center;
    width: 100%;
}

.form-inputs:focus {
    border: 1px solid rgba(50, 255, 1, .9);
}

.icons-inputs {
    float: left;
    margin-left: 10px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
}

.btn-submit {
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    padding: 10px 0;
    background: rgba(92,184,17,.9);
    border: 1px solid #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.form-register, .form-login {
    margin: 10px auto;
    display: block;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    /*width: 300px;*/
    /*max-width: 380px;*/
    padding: 0 10px;
}


.hidden {
    /*display: none;*/
}


/* ----------------------------------------------------- */
/* ----------- Samuil Login / Register Task ------------ */
/* ----------------------------------------------------- */
