<form action="" method="POST" id="login" class="form-login" action="#login">
    <h2>Login</h2>
    <input class="form-inputs reg-name" type="text" placeholder="Please enter your name">
    <i class="fa fa-user icons-inputs"></i>
    <input class="form-inputs reg-pass" type="password" placeholder="Please enter your password">
    <i class="fa fa-key icons-inputs"></i>
    <input type="submit" value="Sign in" class="btn-submit">
</form>
<div id="errors"></div>