<form action="" method="POST" id="register" class="form-register" action="#register">
    <h2>Register</h2>
    <input class="form-inputs reg-names" type="text" placeholder="Please enter your name">
    <i class="fa fa-user icons-inputs"></i>
    <input class="form-inputs reg-passw" type="password" placeholder="Please enter your password">
    <i class="fa fa-key icons-inputs"></i>
    <input class="form-inputs reg-passr" type="password" placeholder="Please repeat your password">
    <i class="fa fa-key icons-inputs"></i>
    <input type="submit" value="Sign up" class="btn-submit">
</form>
<div id="errors"></div>